CREATE OR REPLACE FUNCTION trg_update_user_statistic()
RETURNS TRIGGER AS $$
DECLARE
    affected_users TEXT[];
BEGIN
    -- Ensure we reference the correct column case
    IF TG_OP = 'INSERT' THEN
        SELECT ARRAY[CAST(NEW."CreatedBy" AS TEXT)] INTO affected_users;
    ELSE
        SELECT ARRAY(
            SELECT DISTINCT CAST("CreatedBy" AS TEXT) FROM (
                SELECT "CreatedBy" FROM OLD
                UNION
                SELECT "CreatedBy" FROM NEW
            ) AS u
        ) INTO affected_users;
    END IF;
    
    -- Update UserStatistic for affected users
    UPDATE public."UserStatistic" us
    SET 
        "TotalCourseCreated" = (
            SELECT COUNT(*) FROM public."Course" c WHERE CAST(c."CreatedBy" AS TEXT) = us."UserId"
        ),
        "TotalLearner" = (
            SELECT COUNT(DISTINCT l."UserId")
            FROM public."Learner" l
            JOIN public."Course" c ON l."CourseId" = c."Id"
            WHERE CAST(c."CreatedBy" AS TEXT) = us."UserId"
        ),
        "TotalReview" = (
            SELECT COUNT(f."Id")
            FROM public."Feedback" f
            JOIN public."Course" c ON f."CourseId" = c."Id"
            WHERE CAST(c."CreatedBy" AS TEXT) = us."UserId"
        ),
        "UpdatedAt" = NOW()
    WHERE us."UserId" = ANY(affected_users);
    
    RETURN NULL;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trg_update_user_statistic
AFTER INSERT OR UPDATE OR DELETE
ON public."Course"
FOR EACH ROW
EXECUTE FUNCTION trg_update_user_statistic();
