<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Email Verification</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 0; padding: 0; }
        .email-container { 
            max-width: 400px; 
            margin: 0 auto; 
            background-color: white; 
            border-radius: 20px; 
            overflow: hidden; 
        }
        .email-header, .email-footer {
            background: linear-gradient(to bottom, #c67130, #d36a2d, #FF6F3C);
            height: 70px;
            text-align: center;
            position: relative;
        }
        .email-body { 
            padding: 20px; 
            text-align: center; 
        }
        h1 { font-size: 25px; }
        p { 
            color: #666; 
            font-size: 14px; 
            line-height: 1.6; 
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 18px;
            color: white;
            background-color: #FF6F3C;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class='email-container'>
        <div class='email-body'>
            <h1>Enrolled Learning Path OverDue</h1>
            <p>Your @Model.LearningPath due date is passed. To reschedule the due date, please go to the eduquest page or click the button below.</p>
            <a href='https://edu-quest-webui.vercel.app/' class='button'>Reschedule learning path</a>
            <p>This is an automated email. Please do not reply.</p>
        </div>
    </div>
</body>
</html>